<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mMiji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E795345D1BDA499A00C1C93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79534711BDA499A00C1C93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E795347C1BDA499A00C1C93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
